.container {
    background-color: rgba(156, 131, 95, 1);
    width: 1440px;
    height: 1024px;
}

.game-display ul {
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
    margin-top: 100px;

}

li {
    padding-bottom: 81px;

}

.game-display h3 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    font-weight: 700px;
    size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 49.03px;
    text-decoration-style: double;

}

h1 {
    padding-top: 419px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 144px;
    color: red;
    width: 296px;
    height: 186px;

}

.refresh {
    padding-top: 380px;
    text-align: right;
    width: 77px;
    margin-left: auto;

}